# Ignore Data
dataset/
*.jpg
*.png
*.glsl

# Allowlist the standard library (Exception to *.glsl)
!common.glsl

# Ignore Notebook junk
.ipynb_checkpoints/
__pycache__/

# Phase 2/3 Artifacts
checkpoints*/
*.jsonl